<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>50amigos</title>
</head>
<body>
    <header class="inicio">
        <div class="sombra">

            <a href="#" class="carrito">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#b7950b" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
              </svg>
            </a>

            <div class="barra">
                <div class="logo">
                    <a href="index.html">50<span class="logo-especial">Amigos</span></a>
                </div>
    
                <div class="categorias">
                    <a class="categoria" href="entradas.html">Entradas</a>
                    <a class="categoria" href="platos_principales.html">Platos principales</a>
                    <a class="categoria" href="bebidas.html">Bebidas</a>
                    <a class="categoria" href="postres.html">Postres</a>
                    <a class="categoria" href="helados.html">Helados</a>
                </div>
            </div>
        </div>
    </header>

    <div class="mas-pedido">
        <h2 id="titulo-mas-pedido">Nuestras Bebidas</h2>

        <div class="entradas-mas-pedidas">
            
            <div class="cards-entradas">

                <div class="entrada">
                    <img class="imagen-platillo" src="img/bebida1.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Agua de limón</p>
                    <p class="descripcion-platillo">Refrescante agua de limón acompañada con rodajas de limón fresco y recien cortado,
                         y hojas de hierba buenas.</p>
                    <p class="precio-platillo">$35</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/bebida2.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Té negro frio</p>
                    <p class="descripcion-platillo">Té negro acompañado con rodajas de limón fresco recien cortado, acompañado de hielo para darle un toque 
                        frio.
                    </p>
                    <p class="precio-platillo">$40</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/bebida3.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Frappé Oreo</p>
                    <p class="descripcion-platillo">Frappé sabor galleta Oreo, acompañado con trozos de galleta oreo y con un toque de chocolate liquido y un poco de café.</p>
                    <p class="precio-platillo">$60</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/bebida4.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Fresada</p>
                    <p class="descripcion-platillo">Agua de fresa con agua mineral, hielo, un toque de tequila con trozos de fresa y hierba buena, vaso de (83ml)</p>
                    <p class="precio-platillo">$80</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/bebida5.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Frappé Matcha</p>
                    <p class="descripcion-platillo">Frappé sabor Té Matcha, espolvoreado con té verde matcha y acompañado con chantilly clasico para un sabor dulce.</p>
                    <p class="precio-platillo">$65</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/bebida6.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Café Americano</p>
                    <p class="descripcion-platillo">Café Americano tradicional con nuestro grano recien tostado y preparado para sevir (Puedes pedir que rellenen tu tasa cuantas veces desees)</p>
                    <p class="precio-platillo">$30</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>



            </div>

            
        </div>
    </div>


    <footer class="footer">
        <div class="barra">
            <div class="logo-footer">
                <a href="index.html">50<span class="logo-especial">Amigos</span></a>
            </div>

            <div class="categorias-footer">
                <a class="categoria" href="entradas.html">Entradas</a>
                <a class="categoria" href="platos_principales.html">Platos principales</a>
                <a class="categoria" href="bebidas.html">Bebidas</a>
                <a class="categoria" href="postres.html">Postres</a>
                <a class="categoria" href="helados.html">Helados</a>
            </div>
        </div>
    </footer>
</body>
</html>