<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>50amigos</title>
</head>
<body>
    <header class="inicio">
        <div class="sombra">

            <a href="#" class="carrito">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#b7950b" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
              </svg>
            </a>

            <div class="barra">
                <div class="logo">
                    <a href="index.html">50<span class="logo-especial">Amigos</span></a>
                </div>
    
                <div class="categorias">
                    <a class="categoria" href="entradas.html">Entradas</a>
                    <a class="categoria" href="platos_principales.html">Platos principales</a>
                    <a class="categoria" href="bebidas.html">Bebidas</a>
                    <a class="categoria" href="postres.html">Postres</a>
                    <a class="categoria" href="helados.html">Helados</a>
                </div>
            </div>

        </div>
    </header>

    <div class="mas-pedido">
        <h2 id="titulo-mas-pedido">Nuestra entradas</h2>

        <div class="entradas-mas-pedidas">
            
            <div class="cards-entradas">

                <div class="entrada">
                    <img class="imagen-platillo" src="img/entrada1.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Pancakes</p>
                    <p class="descripcion-platillo">Nuestros deliciosos pancakes tradicionales estilo americano compañados con frutos rojos, con maple o mermelada de tu preferencia.</p>
                    <p class="precio-platillo">$60</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/entrada2.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Papas 50Amigos</p>
                    <p class="descripcion-platillo">Nuestras papas a la francesa estan acompañadas con cebolla caramelizada, tocino, queso y aderezo especial de la casa.</p>
                    <p class="precio-platillo">$80</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/entrada3.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Sopa de crema</p>
                    <p class="descripcion-platillo">Nuestra sopa de crema de verduras tradicional esta acompañada de pequeños trozos de pan tostado y hierbas finas.</p>
                    <p class="precio-platillo">$30</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/entrada4.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Rollos de queso</p>
                    <p class="descripcion-platillo">Deliciosos rollos de queso empanizados con pan molido y galletas Maria, acompañados con un frasco de salsa ketchup.</p>
                    <p class="precio-platillo">$30</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/entrada5.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Galletas saladas</p>
                    <p class="descripcion-platillo">Disfruta de nuestras galletas saldas preparadas con hierbas finas estilo italiano y con rodajas de lima para un sabor semi dulce.</p>
                    <p class="precio-platillo">$25</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/entrada6.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Rollos de pepino</p>
                    <p class="descripcion-platillo">Rollos envueltos en tortilla de arina suabe, rellenos con trozos de pepino freso y recien cortado, acompañado por queso philadelphia.</p>
                    <p class="precio-platillo">$35</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>


            </div>

            
        </div>

    </div>


    <footer class="footer">
        <div class="barra">
            <div class="logo-footer">
                <a href="index.html">50<span class="logo-especial">Amigos</span></a>
            </div>

            <div class="categorias-footer">
                <a class="categoria" href="entradas.html">Entradas</a>
                <a class="categoria" href="platos_principales.html">Platos principales</a>
                <a class="categoria" href="bebidas.html">Bebidas</a>
                <a class="categoria" href="postres.html">Postres</a>
                <a class="categoria" href="helados.html">Helados</a>
            </div>
        </div>
    </footer>
</body>
</html>