<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>50amigos</title>
</head>
<body>
    <header class="inicio">
        <div class="sombra">

            <a href="#" class="carrito">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#b7950b" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
              </svg>
            </a>


            <div class="barra">
                <div class="logo">
                    <a href="index.html">50<span class="logo-especial">Amigos</span></a>
                </div>
    
                <div class="categorias">
                    <a class="categoria" href="entradas.html">Entradas</a>
                    <a class="categoria" href="platos_principales.html">Platos principales</a>
                    <a class="categoria" href="bebidas.html">Bebidas</a>
                    <a class="categoria" href="postres.html">Postres</a>
                    <a class="categoria" href="helados.html">Helados</a>
                </div>
            </div>
        </div>
    </header>

    <div class="mas-pedido">
        <h2 id="titulo-mas-pedido">Nuestros Helados</h2>

        <div class="entradas-mas-pedidas">
            
            <div class="cards-entradas">

                <div class="entrada">
                    <img class="imagen-platillo" src="img/helado1.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Helado 50Amigos</p>
                    <p class="descripcion-platillo">Bola de helad sabor vainilla con una rebanada de pastel de chcoclate de base, bañada con caramelo y chocolate liquido.</p>
                    <p class="precio-platillo">$60</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/helado2.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Helado chocoreta</p>
                    <p class="descripcion-platillo">Helado en cono tradicional con una bola base sabor chocolate y una segunda bola sabor chocoreta ricolino clasico.
                    </p>
                    <p class="precio-platillo">$40</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/helado3.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Helado fresas con crema</p>
                    <p class="descripcion-platillo">Helado en cono tradicional sabor fresas con crema.</p>
                    <p class="precio-platillo">$15</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/helado4.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Cajetoso</p>
                    <p class="descripcion-platillo">Helado sabor coco con trozozs de nuez y bañado con caramelo liquido.</p>
                    <p class="precio-platillo">$30</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/helado5.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Helado de mamey</p>
                    <p class="descripcion-platillo">Helado sabor mamey en cono tradicional o en vaso de plastico.</p>
                    <p class="precio-platillo">$15</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/helado6.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Helado de vainilla</p>
                    <p class="descripcion-platillo">Helado sabor vainilla en cono tradicional o en vaso de plastico.</p>
                    <p class="precio-platillo">$15</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>



            </div>

            
        </div>

       
    </div>


    <footer class="footer">
        <div class="barra">
            <div class="logo-footer">
                <a href="index.html">50<span class="logo-especial">Amigos</span></a>
            </div>

            <div class="categorias-footer">
                <a class="categoria" href="entradas.html">Entradas</a>
                <a class="categoria" href="platos_principales.html">Platos principales</a>
                <a class="categoria" href="bebidas.html">Bebidas</a>
                <a class="categoria" href="postres.html">Postres</a>
                <a class="categoria" href="helados.html">Helados</a>
            </div>
        </div>
    </footer>
</body>
</html>