<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>50amigos</title>
</head>
<body>
    <header class="inicio">
        <div class="sombra">

            <a href="#" class="carrito">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#b7950b" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
              </svg>
            </a>


            <div class="barra">
                <div class="logo">
                    <a href="index.html">50<span class="logo-especial">Amigos</span></a>
                </div>
    
                <div class="categorias">
                    <a class="categoria" href="entradas.html">Entradas</a>
                    <a class="categoria" href="platos_principales.html">Platos principales</a>
                    <a class="categoria" href="bebidas.html">Bebidas</a>
                    <a class="categoria" href="postres.html">Postres</a>
                    <a class="categoria" href="helados.html">Helados</a>
                </div>
            </div>
        </div>
    </header>

    <div class="mas-pedido">
        <h2 id="titulo-mas-pedido">Nuestros platos principales</h2>

        <div class="entradas-mas-pedidas">
            
            <div class="cards-entradas">

                <div class="entrada">
                    <img class="imagen-platillo" src="img/principal1.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Espadas</p>
                    <p class="descripcion-platillo">Nuestras espadas de carnes, acompañadas con salsas y aderezos especiales de la casa y vegetales frescos.</p>
                    <p class="precio-platillo">$200</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/principal2.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Pizza 50Amigos</p>
                    <p class="descripcion-platillo">Pizza de queso fresco acompañada con piña, col morada y perejil es una de las mejores formas de compartir con tus amigos.</p>
                    <p class="precio-platillo">$110</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/principal3.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Hamburguesa doble</p>
                    <p class="descripcion-platillo">Hamburguesa con doble porción de carne de res tradicional y queso estilo americano con cebolla caramelizada con tocino.</p>
                    <p class="precio-platillo">$90</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/principal4.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Pasta Boloñesa</p>
                    <p class="descripcion-platillo">Nuestras pasta boloñesa preparada en casa, estilo italiano, acompañada por perejil molido y ralladura de queso parmesano.</p>
                    <p class="precio-platillo">$100</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/principal5.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Sandwich</p>
                    <p class="descripcion-platillo">Nuestro Sandwich con pan semi tostado, pollo empanizado, queso estilo americano, guacamole y una ración de papas a la fansesa.</p>
                    <p class="precio-platillo">$60</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/principal6.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Salmón al limón</p>
                    <p class="descripcion-platillo">Filete de salmón preparado con ralladura de limón, cocinado con mantequilla, acompañado con pure de papas y verduras salteadas.</p>
                    <p class="precio-platillo">$220</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>



            </div>

            
        </div>

    </div>


    <footer class="footer">
        <div class="barra">
            <div class="logo-footer">
                <a href="index.html">50<span class="logo-especial">Amigos</span></a>
            </div>

            <div class="categorias-footer">
                <a class="categoria" href="entradas.html">Entradas</a>
                <a class="categoria" href="platos_principales.html">Platos principales</a>
                <a class="categoria" href="bebidas.html">Bebidas</a>
                <a class="categoria" href="postres.html">Postres</a>
                <a class="categoria" href="helados.html">Helados</a>
            </div>
        </div>
    </footer>
</body>
</html>