<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>50amigos</title>
</head>
<body>
    <header class="inicio">
        <div class="sombra">

            <a href="#" class="carrito">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#b7950b" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
              </svg>
            </a>

            <div class="barra">
                <div class="logo">
                    <a href="index.html">50<span class="logo-especial">Amigos</span></a>
                </div>
    
                <div class="categorias">
                    <a class="categoria" href="entradas.html">Entradas</a>
                    <a class="categoria" href="platos_principales.html">Platos principales</a>
                    <a class="categoria" href="bebidas.html">Bebidas</a>
                    <a class="categoria" href="postres.html">Postres</a>
                    <a class="categoria" href="helados.html">Helados</a>
                </div>
            </div>
        </div>
    </header>

    <div class="mas-pedido">
        <h2 id="titulo-mas-pedido">Nuestros Postres</h2>

        <div class="entradas-mas-pedidas">
            
            <div class="cards-entradas">

                <div class="entrada">
                    <img class="imagen-platillo" src="img/postre1.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Fruti Donas</p>
                    <p class="descripcion-platillo">Donas con masa hecha a base de avaena y decoradas en la parte superior por crema pastelera y fruta picada de tu preferencia.</p>
                    <p class="precio-platillo">$20</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/postre2.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Pay de Queso</p>
                    <p class="descripcion-platillo">Rebanada de rico y freso Pay de queso frio acompañado con caramelo liquido, trozos de coco tostado y nuez tostada.
                    </p>
                    <p class="precio-platillo">$50</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/postre3.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Pastel de chcocolate</p>
                    <p class="descripcion-platillo">Clasica rebanada de pastel sabor chocolate relleno de chocolate semi liquido y decorado con chocolate amargo liquido.</p>
                    <p class="precio-platillo">$40</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/postre4.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Pan Tostado</p>
                    <p class="descripcion-platillo">Rebanadas de pan tostado blando, acompañadas por trozos de platano, arandanos azul, bañados con miel y espolvoreados con azucar glass.</p>
                    <p class="precio-platillo">$40</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/postre5.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Yogurt Natural</p>
                    <p class="descripcion-platillo">Copa de Yogurt natural, acompañado con mermelada de durazno, espolvoreado con chispas sabor chocolate y acompañado de moras.</p>
                    <p class="precio-platillo">$45</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>

                <div class="entrada">
                    <img class="imagen-platillo" src="img/postre6.jpg" alt="imagen de hot cakes">
                    <p class="nombre-platillo">Galletas 50Amigos</p>
                    <p class="descripcion-platillo">Galletas crujientes sabor vainilla con trozos de nuez, almendra y cacahuate, bañadas con chocolate liquido al gusto.</p>
                    <p class="precio-platillo">$25</p>

                    <div class="pedido">
                        <button class="boton-ordenar">Ordenar</button>
                        <input type="number" min="1" value="1" class="cantidad-ordenada">
                    </div>
                </div>



            </div>

            
        </div>

       
    </div>


    <footer class="footer">
        <div class="barra">
            <div class="logo-footer">
                <a href="index.html">50<span class="logo-especial">Amigos</span></a>
            </div>

            <div class="categorias-footer">
                <a class="categoria" href="entradas.html">Entradas</a>
                <a class="categoria" href="platos_principales.html">Platos principales</a>
                <a class="categoria" href="bebidas.html">Bebidas</a>
                <a class="categoria" href="postres.html">Postres</a>
                <a class="categoria" href="helados.html">Helados</a>
            </div>
        </div>
    </footer>
</body>
</html>