{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
</head>
<body>
    <div class="indexi">
     <div class="cuadro">
      <p><p>   
      <a class="botonind" href="/admin"><button type="submit" class="botonind">Iniciar Sesión como Administrador</button></a>
      <br><br><br><br>
      <a class="botonind" href="/loginResponsable"><button type="submit" class="botonind">Iniciar Sesión como Responsable de Tablets</button></a>
      </p></p>
     </div>
    </div>

</body>
</html>